<div class="container" *ngIf="!solicitanteValido">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="./../../favicon.ico" alt="" width="72" height="72">
        <h2>Formulário de solução</h2>
        <p class="lead">Preencha as informações solicitadas para entendimento de necessidade e envio de soluções.
        </p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Informações do solicitante</h4>
            <form class="needs-validation">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Área</label>
                        <input type="text" class="form-control" id="area" placeholder="Digite sua área" #area required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="projeto">Projeto</label>
                        <input type="text" class="form-control" id="projeto" placeholder="Digite seu projeto" #projeto
                            required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="matricula">Matricula</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" id="matricula" placeholder="F0000000" #matricula
                            required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="@portoseguro.com.br" #email
                        required>
                </div>
                <hr class="mb-4">
                <div class="container" style="text-align: center;">
                    <a><button class="btn btn-primary btn-lg"
                            (click)="infoSolicitante(area.value, projeto.value, matricula.value, email.value)">
                            Próximo
                        </button></a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" *ngIf="solicitanteValido">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="./../../favicon.ico" alt="" width="72" height="72">
        <h2>Formulário de solução</h2>
        <p class="lead">Preencha as informações solicitadas para entendimento de necessidade e envio de soluções.
        </p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3" style="text-align: center;">Informações do Projeto</h4>
            <div class="row">
                <div class="row" style="background-color: #0d6efd;">
                    <button class="col-4 btn btn-primary btn-lg" (click)="painelFront()">
                        Frontend
                    </button>
                    <button class="col-4 btn btn-primary btn-lg" (click)="painelBack()">
                        Backend
                    </button>
                    <button class="col-4 btn btn-primary btn-lg" (click)="painelData()">
                        Data/Storage
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<div *ngIf="frontValue">
    <app-frontend></app-frontend>
</div>

<div *ngIf="backValue">
    <app-backend></app-backend>
</div>

<div *ngIf="dataValue">
    <app-dados></app-dados>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022 Porto</p>
</footer>