<header class="p-3 mb-3 bg-primary text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand" href="index.html">Painel de Soluções</a>
      <div class="dropdown" style="padding-left: 10px;">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Soluções
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="/solicitar-solucao">Solicitar</a></li>
          <li><a class="dropdown-item" routerLink="/listar-solucao">Lista de Soluções</a></li>
        </ul>
      </div>
      <a class="navbar-brand" routerLink="/definicoes" style="padding-left: 10px;">Definições</a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"></form>
    </div>
  </div>
</header>

<router-outlet></router-outlet>